html{
    background: linear-gradient(rgb(193,111,44), rgb(146,92,42)) no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: 'IM Fell English SC', serif;
}
*{
box-sizing: border-box;
}
/* body styling */
body{
    list-style-type: square;
}
.hidden{
    display: none;
}
/*section//element specific  */
img{
    width: 200px;
    height: 300px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin: 25px 0;
}
.select{
    display: flex;
    align-items: space-around;
    justify-content: center;
    font-size: 18px;
}
#selectItemData{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
}
/* media queries */
@media screen and (max-width: 640px) and (max-height: 915px) and (orientation: portrait){
    .select{
        flex-direction: column;
        margin-bottom: 25px;
        justify-content: center;
        align-items: center;
    }
    body{
        max-width: 640px;
    }
    h1{
        text-align: center;
    }
}
@media screen and (max-width: 915px) and (max-height: 640px) and (orientation: landscape){
    body{
        max-width: 915px;
    }
    #selectItemData{
        font-size: 18px;
        align-items: space-between;
    }
    .select{
        flex-wrap: wrap;
    }
    h1{
        text-align: center;
    }
}
@media screen and (min-width: 640px) and (min-height: 915px) and (orientation: portrait){
    body{
        overflow-X: hidden;
    }
    h1{
        text-align: center;
    }
    #selectItemData{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .select{
        flex-wrap: wrap;
    }
    select{
        width: 275
    }
}
@media screen and (min-width: 915px) and (min-height: 640px){
    h1{
        text-align: center;
    }
    #selectItemData{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;

    }
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav a{
    color:  rgb(120,0,0);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}
nav li{
    list-style-type: none;
    margin: 10px;
    width: 300px;
}